@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);









.wrapper {
	position: relative;
	max-width: 700;
	width: 61%;
	padding: 0 50px;
	margin: 0 auto;
}

















